@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', cursive;
  }

.container_home{
    display: flex;
}

.sidebar{
    background: #f7f7f7;
    width: 20%;
    height: 100vh;
    padding: 20px;
}

.container_main{
    width: 80%;
    background: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_main > h1{
    font-size: 50px;
}

button{
    color: white;
    padding: 10px 20px 10px 20px;
    background: #b82b56;
    border: none;
    border-radius: 50px;
}